@using DataAccessLayer.Helpers
@model POS.Models.ReportsVM
<div class="panel panel-default">
    <div class="panel-heading">
        @POS.Resources.Resource.CustomerDetail
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("CustomerLedger", "Reports", FormMethod.Post, new { @id = "cl-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.From Date
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.RC.FromDate, new { @class = "form-control datepicker", @placeholder = "From Date" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.To Date
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.RC.ToDate, new { @class = "form-control datepicker", @placeholder = "To Date" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.Customer
                        </div>
                        <div class="form-input">
                            @Html.DropDownListFor(c => c.RC.CustomerID, Model.getAllCustomers(), "Please Select....", new { @class = "form-control selectize" })
                        </div>
                    </div>

    <input type="submit" class="custombtn btn btn-primary" value="@POS.Resources.Resource.View" />
                     <a href="/Home" class="btn btn-primary custombtn">BACK</a>
    <input type="button" class="custombtn btn btn-danger" onclick="print()" value="@POS.Resources.Resource.Print" />
    <input type="button" class="custombtn btn btn-danger" onclick="pdf()" value="@POS.Resources.Resource.PDF" />
                }
            </div>
            <div class="col-lg-12 print">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @POS.Resources.Resource.SerialNo
                            </th>
                            <th>
                                @POS.Resources.Resource.Type
                            </th>
                            <th>
                                @POS.Resources.Resource.SaleNo
                            </th>
                            <th>
                                @POS.Resources.Resource.Customer
                            </th>
                            <th>
                                @POS.Resources.Resource.Date
                            </th>
                            <th>
                                @POS.Resources.Resource.Total
                            </th>
                        </tr>
                    </thead>
                    @{
                        var sn = 0;
                        decimal rec = 0;
                        decimal due = 0;
                        var dumpValue = Model.User.RoleID.ToString() != Constants.SuperAdmin ? Model.CuttOffPercentage : 1;
                    }
                    <tbody>

                        @foreach (var sl in Model.CustomerLedger)
                        {
                            sn = sn + 1;
                            var saleAmount = sl.Amount * dumpValue;
                            if (sl.Type == "S")
                            {
                                <tr>
                                    <td>
                                        @sn
                                    </td>
                                    <td>
                                        Sale
                                    </td>
                                    <td>
                                        @sl.Number
                                    </td>
                                    <td>
                                        @sl.CustomerName
                                    </td>

                                    <td>
                                        @sl.Date
                                    </td>
                                    <td>
                                        @saleAmount
                                    </td>

                                    @{
                                due = due + saleAmount;
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr style="background-color:green;color:white;">
                                    <td>
                                        @sn
                                    </td>
                                    <td>
                                        Payment
                                    </td>
                                    <td>
                                        @sl.Number
                                    </td>
                                    <td>
                                        @sl.CustomerName
                                    </td>

                                    <td>
                                        @sl.Date
                                    </td>
                                    <td>
                                        @saleAmount
                                    </td>

                                    @{
                                rec = rec + saleAmount;
                                    }
                                </tr>
                            }
                        }

                    </tbody>
                    <tfoot>
                        <tr class="total-count">
                            <td></td>
                            <td></td>
                            <td>Sale @due</td>
                            <td></td>
                            <td class="green">Received @rec</td>
                            @{
                                var tot = due - rec;
                            }
                            <td style="color:maroon;">Due @tot </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    function pdf()
    {

        var html = "";
        html +='<html><head><title>Customer Detail</title>';
        html +='<style type="text/css"> table {width:100%; } table th, table td {border:1px solid #000;padding;0.5em;}</style>';
        html +='</head><body>';
        html +="<div style='text-align:center'>";
        html += '<div class="col-lg-12" style="text-align:right">TechCity</div><br/>';
        html +="<div style='font-size:large;'>Customer Detail</div>";
        html +="<div style='font-size:medium;'>From :" + $("#RC_FromDate").val() + " To : " + $("#RC_ToDate").val() + "</div>";
        html +="</div>";
        html +="<div style='width:100%'>";
        html +=$(".print").html();
        html +="</div>";
        html += '</body></html>';
        var obj = new Object();
        obj.Html = html;
        obj.Name = "Customer-Detail";
        $.ajax({
            type: 'POST',
            url: '/Reports/HtmlToPdf',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (returnValue) {
                window.location = '/Reports/HtmlToPdf';
            }
        });
    }
    function print() {
        var docprint = window.open("about:blank", "_blank");
        docprint.document.open();
        docprint.document.write('<html><head><title>Customer Detail</title>');
        docprint.document.write('' +
    '<style type="text/css">' +
     'table {width:100%;font-size:8px;!important; }' +
    'table th, table td {' +
    'border:1px solid #000;' +
    'padding;0.5em;' +
    '}' +
    '</style>');

        docprint.document.write('</head><body>');
        docprint.document.write("<div style='text-align:center;'>");
        docprint.document.write('<div class="col-lg-12" style="text-align:right">TechCity</div><br/>');
        docprint.document.write("<div style='font-size:10px;'>Customer Detail</div>");
        docprint.document.write("<div style='font-size:8px;'>From :" + $("#RC_FromDate").val() + " To : " + $("#RC_ToDate").val() + "</div>");
        docprint.document.write("</div>");
        docprint.document.write("</div>");
        docprint.document.write("<div style='width:100%';font-size:8px;>");
        docprint.document.write($(".print").html());
        docprint.document.write("</div>");
        docprint.document.write('</body></html>');
        docprint.document.close();
        docprint.print();
        docprint.close();
    }

    $(".datepicker").kendoDatePicker(datePickerOptions);
    $('.selectize').selectize();
    $('form').removeData('validator');
    $('form').removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse('form');
    var options = {
        beforeSubmit: function (msg) {
            blockUI();
            $(".btn").prop("disabled", true);
        },
        success: function (msg) {
            $(".btn").prop("disabled", false);
            unblockUI();
            successToast();
            $("#main-content").html("");
            $("#main-content").html(msg);
        },

        error: function (jqXHR, textStatus, errorThrown) {
            handleErrors(textStatus);
            unblockUI();
            $(".btn").prop("disabled", false);

        }
    };
    $('#cl-form').ajaxForm(options);
</script>
