@using DataAccessLayer.Helpers
@model POS.Models.ReportsVM
<div class="panel panel-default">
    <div class="panel-heading">
        @POS.Resources.Resource.TransferReport
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("POTransfer", "Reports", FormMethod.Post, new { @id = "sl-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(c => c.UserLocation, new { @id = "user-location" })
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.FromDate
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.RC.FromDate, new { @class = "form-control datepicker", @placeholder = "From Date" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.ToDate
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.RC.ToDate, new { @class = "form-control datepicker", @placeholder = "To Date" })
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.FromLocation
                        </div>
                        <div class="form-input">
                            @Html.DropDownListFor(c => c.RC.LocationID, Model.getAllLocations(), "Please Select....", new { @class = "form-control selectize" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.ToLocation
                        </div>
                        <div class="form-input">
                            @Html.DropDownListFor(c => c.RC.ToLocationID, Model.getAllLocations(), "Please Select....", new { @class = "form-control selectize" })
                        </div>
                    </div>

                    <input type="submit" class="custombtn btn btn-primary" value="@POS.Resources.Resource.View" />
                    <a href="/Home" class="btn btn-primary custombtn">@POS.Resources.Resource.Back</a>
                    <input type="button" class="custombtn btn btn-danger" onclick="print()" value="@POS.Resources.Resource.Print" />
                    <input type="button" class="custombtn btn btn-danger" onclick="pdf()" value="@POS.Resources.Resource.PDF" />
                }
            </div>
            <div class="col-lg-12 print">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>@POS.Resources.Resource.Invoice</th>
                            <th>@POS.Resources.Resource.Item</th>
                            <th>@POS.Resources.Resource.Description</th>
                            <th>@POS.Resources.Resource.Quantity</th>
                            <th>@POS.Resources.Resource.Price</th>
                            <th>@POS.Resources.Resource.Sentby</th>
                            <th>@POS.Resources.Resource.Received</th>
                            <th>
                                @POS.Resources.Resource.Status
                            </th>
                            <th>
                                @POS.Resources.Resource.Initiated
                            </th>
                            <th>
                                @POS.Resources.Resource.From
                            </th>
                            <th>
                                @POS.Resources.Resource.To
                            </th>
                            <th>
                                @POS.Resources.Resource.Total
                            </th>
                        </tr>
                    </thead>
                    @{
                        var sn = 0;
                        decimal total = 0;
                        decimal rec = 0;
                        decimal due = 0;
                        var dumpValue = Model.User.RoleID.ToString() != Constants.SuperAdmin ? Model.CuttOffPercentage : 1;
                    }
                    <tbody>

                        @foreach (var sl in Model.TransferReport)
                        {
                            foreach(var transferItem in sl.Items)
                            {
                                sn = sn + 1;
                                decimal localSum = 0;
                                var itemPrice = transferItem.Item.SalePrice * dumpValue;
                        <tr>
                            <td>
                                <a href="#" onclick="editTransferP('@sl.TransferID.ToString()')">@sl.ReferenceNumber</a>
                            </td>
                            <td>
                                @transferItem.Item.ItemNoStr
                            </td>
                            <td>
                                @transferItem.Item.Description
                            </td>
                            <td>
                                @transferItem.Quantity
                            </td>
                            <td>
                                @itemPrice
                            </td>
                            <td>
                                @sl.SentBy
                            </td>
                            <td>
                                @sl.ReceivedBy
                            </td>
                            <td>
                                @if (!sl.Completed)
                                        {
                                        <span>Pending</span>
                                        }
                                        else
                                        {
                                        <span>Completed</span>
                                        }
                            </td>


                            <td>
                                @sl.InitiatedDate.ToLongDateString()
                            </td>

                            <td>
                                @sl.FromLocation.SiteName
                            </td>
                            <td>
                                @sl.ToLocation.SiteName
                            </td>
                            <td>
                                @{
                                var totalll = itemPrice * transferItem.Quantity;
                                }
                                @Convert.ToInt64(totalll)
                            </td>

                            @{
                                total = Convert.ToDecimal(total + totalll);
                            }
                        </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr class="total-count">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="3" align="right">@POS.Resources.Resource.Total</td>
                            <td>@total</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog cus-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@POS.Resources.Resource.SaleDetails</h4>
            </div>
            <div class="modal-body">
                <div style="clear:both;"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>

    function editTransferP(id) {
        blockUI();
        $.ajax({
            type: "GET",
            contentType: "html",
            url: '/Transfer/Update?id=' + id,
            async: true,
            success: function (data) {
                $("#detailModal .modal-body").html(data);
                $("#detailModal").modal("show");
                unblockUI();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
            }
        });

    }
    function pdf() {
        var html = "";
        html += '<html><head><title>Transfer History</title>';
        html += '<style type="text/css"> table {width:100%;  border-collapse:collapse; } table th, table td {border:1px solid #000;padding;0.5em;}</style>';
        html += '</head><body>';
        html += "<div style='text-align:center'>";
        html += '<div class="col-lg-12" style="text-align:right">TechCity</div><br/>';
        html += "<div style='font-size:large;'>Transfer History</div>";
        html += "<div style='font-size:medium;'>From :" + $("#RC_FromDate").val() + " To : " + $("#RC_ToDate").val() + "</div>";
        html += "</div>";
        html += "<div style='width:100%'>";
        html += $(".print").html();
        html += "</div>";
        html += '</body></html>';
        var obj = new Object();
        obj.Html = html;
        obj.Name = "Transfer-History";
        $.ajax({
            type: 'POST',
            url: '/Reports/HtmlToPdf',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (returnValue) {
                window.location = '/Reports/HtmlToPdf';
            }
        });
    }
    function print() {
        var docprint = window.open("about:blank", "_blank");
        docprint.document.open();
        docprint.document.write('<html><head><title>Transfer History</title>');
        docprint.document.write('' +
    '<style type="text/css">' +
     'table {width:100%;  border-collapse:collapse;font-size:7px;!important; }' +
    'table th, table td {' +
    'border:1px solid #000;' +
    'padding;0.5em;' +
    '}' +
    '</style>');
        docprint.document.write('</head><body>');
        docprint.document.write("<div style='text-align:center;'>");
        docprint.document.write("<div style='width:40%;margin-left:170px;margin-bottom:10px;border-radius:4px;border:solid 1px;'>");
        docprint.document.write('<div class="col-lg-12" style="text-align:right">TechCity</div><br/>');
        docprint.document.write("<div style='font-size:10px;'>Transfer History</div>");
        docprint.document.write("<div style='font-size:8px;'>From :" + $("#RC_FromDate").val() + " To : " + $("#RC_ToDate").val() + "</div>");
        docprint.document.write("</div>");
        docprint.document.write("</div>");
        docprint.document.write("<div style='width:100%';>");
        docprint.document.write($(".print").html());
        docprint.document.write("</div>");
        docprint.document.write('</body></html>');
        docprint.document.close();
        docprint.print();
        docprint.close();
    }

    $(".datepicker").kendoDatePicker(datePickerOptions);
    $('.selectize').selectize();
    var $select1 = $("#RC_ToLocationID").selectize();
    $select1[0].selectize.setValue($("#user-location").val());
    $('form').removeData('validator');
    $('form').removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse('form');
    var options = {
        beforeSubmit: function (msg) {
            blockUI();
            $(".btn").prop("disabled", true);
        },
        success: function (msg) {
            $(".btn").prop("disabled", false);
            unblockUI();
            successToast();
            $("#main-content").html("");
            $("#main-content").html(msg);
        },

        error: function (jqXHR, textStatus, errorThrown) {
            handleErrors(textStatus);
            unblockUI();
            $(".btn").prop("disabled", false);

        }
    };
    $('#sl-form').ajaxForm(options);
</script>
