@model POS.Models.GroupVM
@{
    ViewBag.Title = "GROUPS";
}


<div class="panel panel-default">
    <div class="panel-heading">
     @POS.Resources.Resource.Category
    </div>
    <div class="panel-body">

        <input class="btn btn-primary custombtn" type="button" value="@POS.Resources.Resource.AddNew " onclick="showHideAddGroup(this)" />
        <input class="btn btn-primary custombtn" 
               type="button" 
               value="Sync to WP" 
               onclick="syncCategories()" />
        <a href="/Home" class="btn btn-primary custombtn">@POS.Resources.Resource.Back</a>
        <div id="grp-div" class="add-div">
            @Html.Action("Create", "Group")
        </div>

        <div class="tab-div unit-group-tab-div">
            <table class="display" id="groupTable">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                              @POS.Resources.Resource.Name
                        </th>
                        <th>@POS.Resources.Resource.Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Groups)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemGroupNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemGroupName)
                            </td>
                            <td>
                                <a href="#" onclick="editGroup('@item.ItemGroupID.ToString()')">@POS.Resources.Resource.Update/Detail</a> | <a href="#" onclick="deleteGroup('@item.ItemGroupID.ToString()')">@POS.Resources.Resource.Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        $('#groupTable').dataTable({
            responsive: true
        });

    });

    function syncCategories() {
        blockUI();
        $.ajax({
            type: "GET",
            contentType: "json",
            url: '/Group/SyncData',
            async: true,
            success: function (msg) {
                unblockUI();
                successToast();
                getGroupData();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
            }
        });
    }
</script>

