
<div class="panel panel-default">
    <div class="panel-heading">
        Parts
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-row">
                <div class="form-lable">
                    <label class="inline">Search</label>
                </div>
                <div class="form-input">
                    <input id="searchQuery" type="text" class="form-control" onkeyup="searchItemList()" />
                </div>
            </div>
            <input class="btn btn-primary custombtn right" 
                   type="button" value="@POS.Resources.Resource.AddNew " 
                   onclick="AddNewPartScreen()" />
        </div>
        <div class=" container-fluid   container-fixed-lg bg-white">
            <div class="card card-transparent">
                <div class="card-block">
                    <div class="Item-tab-div">
                        <div id="itemsGrid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var itemsSearch = "";
    function searchItemList() {
        itemsSearch = $("#searchQuery").val();
        var grid = $("#itemsGrid").data("kendoGrid");
        if (grid) {
            grid.dataSource.read();
        }
    }

    $(document).ready(function () {
        $("#itemsGrid").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: "/Technician/GetItemList",
                        type: "post",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    },
                    parameterMap: function (e, type) {
                        if (type === "read") return JSON.stringify({
                            GridFilters: e,
                            Search: itemsSearch
                        })
                    }
                },
                pageSize: 10,
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: "ItemID",
                        fields: {
                            ItemID: {
                                editable: false
                            }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
            },
            sortable: true,
            scrollable: true,
            pageable: {
                messages: {
                    display: "{0}-{1} of {2} @POS.Resources.Resource.Item",
                    empty: "NoItemFound"
                }
            },
            columns: [
                {
                    field: "ItemNoStr",
                    title: "@POS.Resources.Resource.Number",
                    width: "5%"
                },
                    {
                        field: "Name",
                        title: "@POS.Resources.Resource.Name",
                        width: "10%"
                    },
                    {
                        field: "Description",
                        title: "@POS.Resources.Resource.Description",
                        width: "10%"
                    },
                    {
                        field: "PurchaseCost",
                        title: "@POS.Resources.Resource.PurchaseCost",
                        width: "5%"
                    },
                    {
                        field: "SalePrice",
                        title: "@POS.Resources.Resource.SalePrice",
                        width: "5%"
                    },
                    {
                        field: "ItemQuantities",
                        title: "@POS.Resources.Resource.Location / @POS.Resources.Resource.Quantity",
                        width: "15%"
                    },
                    {
                        title: "Action",
                        template: function (n) {
                            return "<a href='#' onclick='UpdatePartScreen(\"" + n.ItemID + "\")'>Update/Detail</a>";

                        },
                        width: "15%"
                    }
            ]
        });
    });

</script>