@model List<DataAccessLayer.Entities.DbUpdateStock>

<div class="row">
    <div class="col-sm-12">

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green"></i>
                    <span class="caption-subject font-green bold uppercase">@POS.Resources.Resource.UpdateStockHistory</span>
                    <span class="caption-helper"></span>
                </div>
                <div class="actions">
                    <button onclick="switchUpdateStockHistoryScreen(false)" 
                            class="btn btn-lg dark btn-home-back">@POS.Resources.Resource.Home</button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-div PO-tab-div">
                    <table class="display" id="SaleHistory">
                        <thead>
                            <tr>
                                <th>
                                    @POS.Resources.Resource.InvoiceNumber
                                </th>
                                <th>
                                    @POS.Resources.Resource.Date
                                </th>
                                <th>
                                    @POS.Resources.Resource.TotalAmount
                                </th>
                                <th>
                                    @POS.Resources.Resource.TotalItems

                                </th>
                                <th>
                                    @POS.Resources.Resource.ModifiedBy
                                </th>
                                <th>
                                    @POS.Resources.Resource.Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RefNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pUser.FirstName) @Html.DisplayFor(modelItem => item.pUser.LastName)
                                    </td>
                                    <td>
                                        <button class="btn btn-lg blue" onclick="UpdateStockModifyScreen('@item.ID.ToString()')">@POS.Resources.Resource.Update</button>
                                        <button class="btn btn-lg purple" onclick="getDetail('@item.ID.ToString()')">@POS.Resources.Resource.Detail</button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog cus-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color:black" aria-hidden="true">X</span></button>
                        <h4 class="modal-title" id="myModalLabel">@POS.Resources.Resource.StockDetails</h4>
                    </div>
                    <div class="modal-body">
                        <div style="clear:both;"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#detailModal').on('hidden.bs.modal', function () {
        UpdateStockHistoryScreen();
    })
    function getDetail(id) {
        blockUI();
        $.ajax({
            type: "GET",
            contentType: "html",
            url: '/Technician/UpdateStockDetail?id=' + id,
            async: true,
            success: function (data) {
                $("#detailModal .modal-body").html(data);
                $("#detailModal").modal("show");
                unblockUI();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
            }
        });
    }
    $(document).ready(function () {

        $('#SaleHistory').dataTable({
            responsive: true,
            order: [[0, 'desc']]
        });
    });
</script>
