@model POS.Models.ExpenseHeadVM

@using (Html.BeginForm("CreateHead", "Accounts", FormMethod.Post, new { @id = "exp-head-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Name
        </div>
        <div class="form-input">
            @Html.TextBoxFor(c => c.ExpenseHead.Name, new { @class = "form-control" })

        </div>
    </div>
    <input type="submit" class="btn btn-primary custombtn" value="@POS.Resources.Resource.Save" />
    <a href="/Home" class="btn btn-primary custombtn">@POS.Resources.Resource.Back</a>
}
<script>

    $(document).ready(function () {

        $('form').removeData('validator');
        $('form').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('form');
        var options = {
            beforeSubmit: function (msg) {
                blockUI();
                $(".btn").prop("disabled", true);
            },
            success: function (msg) {
                $(".btn").prop("disabled", false);
                unblockUI();
                successToast();
                getExpenseHeadData();
            },

            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
                unblockUI();
                $(".btn").prop("disabled", false);

            }
        };
        $('#exp-head-form').ajaxForm(options);
    });
</script>