@model POS.Models.ExpenseVM

@using (Html.BeginForm("Update", "Accounts", FormMethod.Post, new { @id = "exp-form-u" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c=>c.Expense.ID)
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Location
        </div>
        <div class="form-input">
            @Html.DropDownListFor(c => c.Expense.FKLocationID, Model.getAllLocations(Model.User), new { @class = "form-control", @id="Sale_FKLocationID" })

        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Head
        </div>
        <div class="form-input">
            @Html.DropDownListFor(c => c.Expense.FKExpenseHead, Model.getAllHeads(), new { @class = "form-control" })

        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Date
        </div>
        <div class="form-input">
            @Html.TextBoxFor(c => c.Expense.Date, new { @class = "form-control datepicker" })

        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.InvoiceNumber
        </div>
        <div class="form-input">
            @Html.TextBoxFor(c => c.Expense.Invoice, new { @class = "form-control" })

        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Description
        </div>
        <div class="form-input">
            @Html.TextBoxFor(c => c.Expense.Description, new { @class = "form-control" })

        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Amount
        </div>
        <div class="form-input">
            @Html.TextBoxFor(c => c.Expense.Amount, new { @class = "form-control",@type="numeric" })

        </div>
    </div>

    <input type="submit" class="btn btn-primary custombtn" value="@POS.Resources.Resource.Save" />
    <a href="/Home" class="btn btn-primary custombtn">@POS.Resources.Resource.Back</a>
}
<script>

    $(document).ready(function () {

        $(".datepicker").kendoDatePicker(datePickerOptions);
        $('form').removeData('validator');
        $('form').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('form');
        var options = {
            beforeSubmit: function (msg) {
                blockUI();
                $(".btn").prop("disabled", true);
            },
            success: function (msg) {
                $(".btn").prop("disabled", false);
                unblockUI();
                successToast();
                getExpenseData();
            },

            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
                unblockUI();
                $(".btn").prop("disabled", false);

            }
        };
        $('#exp-form-u').ajaxForm(options);
    });
</script>