@model POS.Models.SupplierPaymentVM
@{
    ViewBag.Title = "Create";
}
<div class="panel panel-default">
    <div class="panel-heading">
        Supplier Payment
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("AddSupplierPayment", "PurchaseOrder", FormMethod.Post, new { @id = "sp-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(c => c.user)
            <div class="form-row">
                <div class="form-lable">
                    @POS.Resources.Resource.Supplier
                </div>
                <div class="form-input">
                    @Html.DropDownListFor(c => c.Payment.FKSupplierID, Model.getAllSuppliers(), "Please Select Supplier", new { @class = "form-control" })
                </div>
                <div class="form-lable">
                    @POS.Resources.Resource.Date
                </div>
                <div class="form-input">
                    @Html.TextBoxFor(c => c.Payment.PaidDate, new { @class = "form-control datepicker", @value = DateTime.Now })
                </div>
                <div class="form-lable">
                    @POS.Resources.Resource.ChequeNo
                </div>
                <div class="form-input">
                    @Html.TextBoxFor(c => c.Payment.CheckNO, new { @class = "form-control" })
                </div>
                <div class="form-lable">
                    @POS.Resources.Resource.Notes
                </div>
                <div class="form-input">
                    @Html.TextBoxFor(c => c.Payment.Notes, new { @class = "form-control" })
                </div>
                <div class="form-lable">
                    @POS.Resources.Resource.Amount
                </div>
                <div class="form-input">
                    @Html.TextBoxFor(c => c.Payment.Amount, new { @class = "form-control", @type = "number" })
                </div>
                <div class="form-input">
                    <input type="submit" class="btn btn-primary custombtn" value="@POS.Resources.Resource.Save" />
                    <a href="/Home" class="btn btn-primary custombtn">@POS.Resources.Resource.Back</a>
                </div>
            </div>

        }
        <div id="sup-history">

        </div>
    </div>
</div>
<script>

    $(".datepicker").kendoDatePicker(datePickerOptions);
    //$(".datepicker").datepicker();
    $("select").selectize();
    var $select1 = $("#Payment_FKSupplierID").selectize();
    $select1[0].selectize.setValue("");
    $select1[0].selectize.on('change', function () {
        var id = $("#Payment_FKSupplierID").val();
        $.ajax({
            type: "GET",
            contentType: "html",
            url: '/PurchaseOrder/GetSupplierPayments?id=' + id,
            async: true,
            success: function (data) {
                $("#sup-history").html("");
                $("#sup-history").html(data);
                $("#sup-name").html($("#Payment_FKSupplierID").text());
            },
            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
            }
        });
    });
    function printPayment(no) {
        var docprint = window.open("about:blank", "_blank");
        docprint.document.open();
        docprint.document.write('<html><head><title></title>');
        docprint.document.write('<style>span { margin:3px; }</style>');
        docprint.document.write('' +
            '<style type="text/css">' +
            'table {width:100%;  border-collapse:collapse; }' +
            'table th, table td {' +
            'border:1px solid #000;' +
            'padding;0.5em;' +
            '}' +
            '</style>');
        docprint.document.write('</head><body>');
        docprint.document.write("<table><tr style='background-color:#337ab7;color:#fff;'></tr><tr><td>Invoice #</td><td>" + no + "</td></tr><tr><td>Date</td><td>" + $("#Payment_PaidDate").val() + "</td></tr><tr><td>Customer</td><td>" + $("#Payment_FKCustomerID :selected").text() + "</td></tr><tr><td>Amount</td><td> " + $("#Payment_Amount").val() + "</td></tr><tr><td>Cheque No</td><td>" + $("#Payment_CheckNO").val() + "</td></tr><tr><td>Notes</td><td>" + $("#Payment_Notes").val() + "</td></tr><tr><td>Received By</td><td>" + $("#user").val() + "</td></tr></table>");
        docprint.document.write('</body></html>');
        docprint.document.close();
        docprint.print();
        docprint.close();
    }
    $(document).ready(function () {
        $('form').removeData('validator');
        $('form').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('form');
        var options = {
            beforeSubmit: function (msg) {
                blockUI();
                $(".btn").prop("disabled", true);
            },
            success: function (msg) {
                $(".btn").prop("disabled", false);
                unblockUI();
                successToast();
                addSupplierPayment();

            },

            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
                unblockUI();
                $(".btn").prop("disabled", false);

            }
        };
        $('#sp-form').ajaxForm(options);
    });
</script>
