@model POS.Models.TransferVM
@{
    ViewBag.Title = "Transfer Requests";
}


<div class="panel panel-default">
    <div class="panel-heading">
        @POS.Resources.Resource.TransferRequest
    </div>
    <div class="panel-body">

        <input class="btn btn-primary custombtn" type="button" value="@POS.Resources.Resource.AddNew" onclick="showHideAddTransfer(this)" id="showhidetransfer" />
        <a href="/Home" class="btn btn-primary custombtn">@POS.Resources.Resource.Back</a>
        <div id="tra-div" class="add-div">
            @try { 
            @Html.Action("Create", "Transfer")
            }
            catch(Exception eee)
            {
                @:@eee.Message;
            }
        </div>

        <div class="tab-div tra-tab-div">
            <table class="display" id="TransferTable">
                <thead>
                    <tr>
                        <th>
                            @POS.Resources.Resource.InvoiceNumber
                        </th>
                        <th>
                            @POS.Resources.Resource.Status
                        </th>
                        <th>
                            @POS.Resources.Resource.InitiatedDate
                        </th>
                        <th>
                            @POS.Resources.Resource.FromLocation
                        </th>
                        <th>
                            @POS.Resources.Resource.ToLocation
                        </th>
                        <th>
                            @POS.Resources.Resource.Sentby
                        </th>
                        <th>
                            @POS.Resources.Resource.ReceivedBy
                        </th>

                        <th>@POS.Resources.Resource.Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transfers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReferenceNumber)
                            </td>
                            <td>
                                @if (!item.Completed)
                                {
                                    <span>Pending</span>
                                }
                                else
                                {
                                    <span>Completed</span>
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.InitiatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromLocation.SiteName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ToLocation.SiteName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SentBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceivedBy)
                            </td>
                            <td>
                                @if (!item.Completed)
                                {
                                    <a href="#" onclick="editTransfer('@item.TransferID.ToString()')">@POS.Resources.Resource.Update/@POS.Resources.Resource.Detail</a> <span>|</span> <a href="#" onclick="deleteTransfer('@item.TransferID.ToString()')">@POS.Resources.Resource.Delete</a>
                                }
                                else
                                {
                                    <a href="#" onclick="editTransfer('@item.TransferID.ToString()')">@POS.Resources.Resource.Detail</a>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        $('#TransferTable').dataTable({
            responsive: true
        });

    });
</script>

