@model POS.Models.TransferVM
@using (Html.BeginForm("Update", "Transfer", FormMethod.Post, new { @id = "tra-form-u" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c => c.Transfer.TransferID)
    @Html.HiddenFor(c => c.Transfer.InitiatedDate)
    @Html.HiddenFor(c => c.Transfer.ComletedDate)
    @Html.HiddenFor(c => c.Transfer.Completed)

    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.FromLocation
        </div>
        <div class="form-input">
            @Html.DropDownListFor(c => c.Transfer.FKFLocationID, Model.getAllSites(), new { @class = "form-control Transfer_FKTLocationID", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.ToLocation
        </div>
        <div class="form-input">
            @Html.DropDownListFor(c => c.Transfer.FKTLocationID, Model.getAllSites(), new { @class = "form-control Transfer_FKTLocationID" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.InvoiceNumber
        </div>
        <div class="form-input">
            @Html.TextBoxFor(c => c.Transfer.ReferenceNumber, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Date
        </div>
        <div class="form-input">
            @Html.TextBoxFor(c => c.Transfer.InitiatedDate, new { @class = "form-control datepicker", @readonly = "readonly" })
        </div>
    </div>
    <div class="tra-item-main">
        <div style="clear:both;"></div>
        @* <input type="button" class="btn btn-warning  custombtn" onclick="addNewRowTransfer()" value="Add New Row" />*@
        <table class="table table-responsive" id="Transfer-items">
            <thead>
                <tr>
                    <th>@POS.Resources.Resource.SerialNo</th>
                    <th>@POS.Resources.Resource.ItemNo</th>
                    <th>@POS.Resources.Resource.Item</th>
                    <th>@POS.Resources.Resource.Quantity</th>
                    <th>@POS.Resources.Resource.UnitPrice</th>
                    <th>@POS.Resources.Resource.Total</th>
                    <th>MU</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{var sn = 0;
                decimal items = 0;
                decimal totals = 0;
                }
                @for (int i = 0; i < Model.Transfer.Items.Count; i++)
                {
                    sn++;
                    <tr>
                        <td>
                            @sn
                        </td>
                        <td>
                            @Html.TextBoxFor(c => c.Transfer.Items[i].Item.ItemNoStr, new { @class = "form-control item-search" })
                        </td>
                        <td>
                            <input class="sale-items form-control" 
                                   value="@(Model.Transfer.Items[i].Item.Name + " " + Model.Transfer.Items[i].Item.Description)" readonly />
                            <input type='hidden' value="@Model.Transfer.Items[i].FKItemID" class="item-id-hdn" name='Transfer.Items[@i].FKItemID' />
                        </td>
                        <td>
                            <input type="number" class="form-control sale-item-quantity" value="@Model.Transfer.Items[i].Quantity" onblur="setItemTotalTr(this)" name="Transfer.Items[@i].Quantity" required />
                        </td>
                        <td>
                            @*@Html.TextBoxFor(x => x.Transfer.Items[i].Item.PurchaseCost, new { @class = "form-contorl sale-item-price", @onchange = "setItemTotalTr(this)", @readonly = "readonly" })*@
                            <input type="number" class="form-control sale-item-price" onchange="setItemTotalTr(this)" readonly value="@Model.Transfer.Items[i].Item.SalePrice" onload="setItemTotalTr(this)" />
                        </td>
                        <td>
                            @{
                    var tot = Model.Transfer.Items[i].Item.SalePrice * Model.Transfer.Items[i].Quantity;
                    totals += tot;
                    items += Model.Transfer.Items[i].Quantity;
                            }
                            @*@Html.TextBoxFor(x => x.Transfer.Items[i].Item.PurchaseCost, new { @class = "form-contorl sale-item-price", @onchange = "setItemTotalTr(this)", @readonly = "readonly" })*@
                            <input type="number" class="form-control sale-item-total" value="@tot" readonly />
                        </td>
                        <td><label class='measuring-unit'></label> <span class="prices"></span> <span class='image-col'></span> </td>
                        <td><a href='#' onclick='removeRowT(this)'><i class='fa fa-trash fa-fw'></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
        <input type="button" class="btn btn-warning  custombtn" onclick="addNewRowTransfer()" value="@POS.Resources.Resource.AddNewRow" />
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.Notes
        </div>
        <div class="form-input">
            @Html.TextAreaFor(c => c.Transfer.Notes, new { @class = "form-control tra-notes" })

        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.TotalItems
        </div>
        <div class="form-input">
            <input type="number" id="total-items" value="@items" class="form-control" readonly />

        </div>
    </div>
    <div class="form-row">
        <div class="form-lable">
            @POS.Resources.Resource.TotalPrice
        </div>
        <div class="form-input">
            <input type="number" id="total-price" value="@totals" class="form-control" readonly />

        </div>
    </div>
    <input type="submit" class="btn btn-primary custombtn" value="@POS.Resources.Resource.Save" />
    <input type="button" class="btn btn-primary custombtn" value="@POS.Resources.Resource.Back" onclick="getAllTransferData()" />

    <input type="button" onclick="printReceipt()" class="btn btn-primary custombtn" id="printButton" value="@POS.Resources.Resource.Print" />
}
<script>
    function printReceipt() {
        var sn = 0;
        var docprint = window.open("about:blank", "_blank");
        docprint.document.open();
        docprint.document.write('<html><head><title></title>');
        docprint.document.write('<style>span { margin:3px; }</style>');
        docprint.document.write('</head><body>');
        docprint.document.write('<div style="width:800px;padding:20px;float:left;">');
        docprint.document.write("<div style='text-align:center;'>");
        docprint.document.write("<div style='width:50%;margin-left:190px;margin-bottom:10px;border-radius:4px;border:solid 1px;'>");
        docprint.document.write('<div class="col-lg-12" style="text-align:right">TechCity</div><br/>');
        docprint.document.write("<div style='font-size:10px;'>Transfer Request</div>");
        docprint.document.write("<div style='font-size:8px;'>Invoice No : " + $("#Transfer_ReferenceNumber").val() + " Location : " + $("#Transfer_FKFLocationID :selected").text() + "</div>");
        docprint.document.write("</div>");
        docprint.document.write("</div>");
        docprint.document.write("<div style='float:left;width:100%;text-align:left;font-size:10px;border:1px solid #000;margin-top:10px;'><span style='float:left;width:10%;'>SN</span><span style='float:left;width:15%;'>ITEM NO</span><span style='float:left;width:25%'>DESCRIPTION</span><span style='float:left;width:15%'>QUANTITY</span><span style='float:left;width:15%'>PRICE</span><span style='float:left;width:15%'>TOTAL</span></div>");
        $("#Transfer-items tbody tr").each(function () {
            var itemno = $(this).find(".item-search").val();
            sn = sn + 1;
            var desc = $(this).find(".sale-items").val();
            var qty = $(this).find(".sale-item-quantity").val();
            var price = $(this).find(".sale-item-price").val();
            var total = $(this).find(".sale-item-total").val();
            docprint.document.write("<div style='float:left;width:100%;text-align:left;font-size:10px;border:1px solid #000;'><span style='float:left;width:10%;'>" + sn + "</span><span style='float:left;width:15%;'>" + itemno + "</span><span style='float:left;width:25%'>" + desc + "</span><span style='float:left;width:15%'>" + qty + "</span><span style='float:left;width:15%'>" + price + "</span><span style='float:left;width:15%'>" + total + "</span></div>");

        });
        var items = $("#total-items").val();
        var amount = $("#total-price").val();
        docprint.document.write("<div style='float:left;width:100%;text-align:right;font-size:medium;margin-top:10px;'>Total Items: " + items + "</div>");
        docprint.document.write("<div style='float:left;width:100%;text-align:right;font-size:medium;'>Total Amount: " + amount + "</div>");
        docprint.document.write('</div>');
        docprint.document.write('</body></html>');
        docprint.document.close();
        docprint.print();
        docprint.close();
    }
    $(document).ready(function () {
        if ($("#Transfer_Completed").val() === "True") {
            $("#tra-form-u .form-control").attr("disabled", true);
            $("#tra-form-u .btn").hide();
            $("#printButton").show();
        }
        $('form').removeData('validator');
        $('form').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse('form');
        var options = {
            beforeSubmit: function (msg) {
                blockUI();
                $(".btn").prop("disabled", true);
            },
            success: function (msg) {
                $(".btn").prop("disabled", false);
                unblockUI();
                if (msg == false) {
                    return errorToast();
                }
                successToast();
                getAllTransferData();
            },

            error: function (jqXHR, textStatus, errorThrown) {
                handleErrors(textStatus);
                unblockUI();
                $(".btn").prop("disabled", false);

            }
        };
        $('#tra-form-u').ajaxForm(options);
    });
    //$('.tra-items,.Transfer_FKTLocationID').selectize();
</script>