
@model POS.Models.ServicesVM
@{
    ViewBag.Title = "Services";
}

@using (Html.BeginForm("Update", "Services", FormMethod.Post, new { enctype = "multipart/form-data", @id = "item-form-u" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c => c.Service.IsActive)
    @Html.HiddenFor(c => c.Service.IsDeleted)
    @Html.HiddenFor(c => c.Service.ItemID)
    @Html.HiddenFor(c => c.Service.ItemNo, new { @id = "item-no" })

    <div class="panel panel-default">
        <div class="panel-heading">
            Update Services
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.Category
                        </div>
                        <div class="form-input">
                            @Html.DropDownListFor(c => c.Service.FKGroupID, Model.getAllGroup(), "Please Select....", new { @class = "form-control", @onchange = "getItemNumber()", @id = "item-cat" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.Name
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.Service.Name, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.ItemNo
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.Service.ItemNoStr, new { @class = "form-control", @readonly = "readonly", @id = "item-str" })
                        </div>
                    </div>
                   
                    <div class="form-row" style="width:65%;">
                        <div class="form-lable">
                            @POS.Resources.Resource.Description
                        </div>
                        <div class="form-input">
                            @Html.TextAreaFor(c => c.Service.Description, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.PurchaseCost
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.Service.PurchaseCost, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.SalePrice
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.Service.SalePrice, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.Barcode
                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(c => c.Service.Barcode, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-lable">
                            @POS.Resources.Resource.Location
                        </div>
                        <div class="form-input">
                            @Html.DropDownListFor(c => c.Service.LocationID, Model.getAllSites(), new { @class = "form-control" })

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Tax and Discount
                </div>
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-input-group">
                                    <label class="inline">Is Taxable</label>
                                </div>
                                <div class="input-group-addon bg-transparent">
                                    @Html.CheckBoxFor(c => c.Service.IsTaxable)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tax Rate</label>
                                @Html.DropDownListFor(c => c.Service.TaxRateID, Model.getAllTaxRates(), "Please Select..", new
                                                       {
                                                           @class = "form-control field-setting selectize"
                                                       })
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-input-group">
                                    <label class="inline">Allow Discount</label>
                                </div>
                                <div class="input-group-addon bg-transparent">
                                    @Html.CheckBoxFor(c => c.Service.AllowDiscount)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@POS.Resources.Resource.Discount %</label>
                                @Html.TextBoxFor(c => c.Service.DiscountAllowed, new { @class = "form-control field-setting" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

            <input type="submit" class="btn btn-primary custombtn" value="@POS.Resources.Resource.Save" />
            <input type="button" class="btn btn-primary custombtn" value="@POS.Resources.Resource.Back" onclick="getServicesData()" />
        </div>
    </div>
}
<script>
    
   
    var xhr;
    var select_group, $select_group;
    var select_unit, $select_unit;

    $select_group = $('#Item_FkUnitGroupID').selectize({
        onChange: function (value) {
            if (!value.length) return;
            $.ajax({
                url: '@Url.Action("GetBaseUnit", "Item")',

                data: { groupID: value },
                success: function (result) {
                    $("#Item_FkDefaultUnitID").val(result.Value);
                    $("#Item_DefaultUnit").html(result.Text);
                },
                error: function () {
                    callback();
                }
            })
        }
    });

    $('form').removeData('validator');
    $('form').removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse('form');
    var options = {
        beforeSubmit: function (msg) {
            blockUI();
            var submit = true;
            if (!submit) {
                return false;
            }
            $(".btn").prop("disabled", true);
        },
        success: function (msg) {
            $(".btn").prop("disabled", false);
            unblockUI();
            successToast();
            getServicesData();
        },

        error: function (jqXHR, textStatus, errorThrown) {
            handleErrors(textStatus);
            unblockUI();
            $(".btn").prop("disabled", false);

        }
    };
    $('#item-form-u').ajaxForm(options);
    $('#Item_FKGroupID,#Item_FKConditionID').selectize({
        create: function (input, callback) {

        },
        sortField: 'text'
    });

</script>
